@use "../themes/default" as *;

body {
  background-image: url(../../../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.main-login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-login-content {
  display: flex;
  height: 70%;
  width: 60%;
  background: $primary-color;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  box-shadow: -9px 10px 48px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: -9px 10px 48px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -9px 10px 48px 0px rgba(0, 0, 0, 0.45);
}

.logo-container img {
  height: 300px;
  width: 300px;
}

.logo-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $dark-orange;
  position: relative;
  border-radius: 0 13px 13px 0;
  -webkit-border-radius: 0 13px 13px 0;
  -moz-border-radius: 0 13px 13px 0;
  -ms-border-radius: 0 13px 13px 0;
  -o-border-radius: 0 13px 13px 0;
}

.form-container {
  width: 40%;
  height: 100%;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 13px 0 0 13px;
  -webkit-border-radius: 13px 0 0 13px;
  -moz-border-radius: 13px 0 0 13px;
  -ms-border-radius: 13px 0 0 13px;
  -o-border-radius: 13px 0 0 13px;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  top: -200px;
}

.banner svg {
  height: 600px;
  width: 500px;
}

// .banner svg path {
//   background: $primary-color;
// }

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 120px;
}

.welcome {
  background: $light-primary;
  position: absolute;
  height: 90px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.welcome h1 {
  text-align: center;
  letter-spacing: 10px;
}

.login form input[type="text"],
.login form input[type="password"] {
  width: 300px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: none;

}
