*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #f4d5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    position: relative;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
}

.container .left{
    position: relative;
    background-color: #6afff5;
    padding: 40px;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .img-pic{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #b66edc;
}

.profile .img-pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-info{
    padding-top: 20px;
}

.title{
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul{
    position: relative;
}

.contact-info ul li{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #2d2da4;
}

.contact-info span{
    font-weight: 300;
}

.contact-info.education li{
    margin-bottom: 15px;
}

.contact-info.education h3{
    padding-left: 10px;
    
}

.contact-info.education h4{
    padding-left: 10px;
    color: #2d2da4;
}

.contact-info.education p{
    padding-left: 10px;
}


.contact-info.expertise .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #fff;
    display: block;
    margin-top: 5px;
}

.contact-info.expertise .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1c1c55;
}

.contact-info.languages .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #fff;
    display: block;
    margin-top: 5px;
}

.contact-info.languages .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1c1c55;
}



.container .right{
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.about{
   margin-bottom: 50px;
}

.profile-info{
    padding: 80px 10px 20px 5px;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
}
.profile-info h1{
    margin-bottom: 10px;
}

.profile-info h3{
    margin-bottom: 10px;
    color: rgb(52, 52, 202);
}

.title2{
    text-transform: uppercase;
    font-weight: 550;
    padding-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info h2{
    text-transform: uppercase;
    margin-top: 30px;  
    color: rgb(52, 52, 202);
}

.info h3{
    margin: 10px;
    padding-left: 30px;
}

.info h4{
    margin: 10px;
    padding-left: 30px;
    color: #2d2da4;
}
.info p{
    margin: 10px;
    padding-left: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1000px)
{
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .contact-info ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px)
{
    .about .info{
        flex-direction: column;
    }
}
